<template>
  <v-app light>
    <v-navigation-drawer fixed v-model="drawer" app>
      <v-list>
        <template v-for="item in items">
          <v-list-tile :to="item.loc" ripple exact v-if="!Array.isArray(item.items)" :key="item.title">
            <v-list-tile-action>
              <v-icon light v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-expansion-panel expand v-else :key="item.title" class="elevation-0">
            <v-expansion-panel-content ripple>
              <div slot="header" v-text="item.header" class="subheading"></div>
              <v-list-tile :to="innerItem.loc" ripple exact v-for="innerItem in item.items" :key="innerItem.title">
                <v-list-tile-action>
                  <v-icon light v-html="innerItem.icon"></v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title v-text="innerItem.title"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" light></v-toolbar-side-icon>
      <v-toolbar-title>
        <v-btn flat v-text="title" to='/' class="toolbar__title"></v-btn>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <template v-if="button.name=='view_products'">
        <v-btn @click="button.func.checked" flat v-show="button.func.title==='any'">View Checked Only</v-btn>
        <v-btn @click="button.func.unchecked" flat v-show="button.func.title==='any'">View Unchecked Only</v-btn>
        <v-btn @click="button.func.showAllItems" flat v-show="button.func.title==='all'">View All</v-btn>


        <v-btn @click="button.func.saveAll" color="primary"><v-icon left>save</v-icon>Save All Products</v-btn>
      </template>
      <template v-if="button.name=='banWord'">
        <v-btn @click="button.func" color="primary"><v-icon left>save</v-icon>Save All Banned Words</v-btn>
      </template>
    </v-toolbar>
    <v-content>
      <router-view @titleChange="titleChange" @buttonChange="buttonChange"></router-view>
    </v-content>
  </v-app>
</template>
<script>
export default {
  data() {
      return {
        drawer: true,
        items: [{
          icon: 'web',
          title: 'Home',
          loc: '/'
        }, {
          header: 'Importers',
          items: [{
            icon: 'open_in_new',
            title: 'ShopStyle',
            loc: '/imports/shopStyle'
          }, {
            icon: 'open_in_new',
            title: "VigLink",
            loc: '/imports/vigLink'
          }, {
            icon: 'open_in_new',
            title: 'Commission Junction',
            loc: '/imports/commissionJunction'
          },{
            icon: 'open_in_new',
            title: 'PepperJam',
            loc: '/imports/pepperJam'
          }]
        }, {
          icon: 'cached',
          title: 'Product Categories Generator',
          loc: '/Product-Categories-Generator'
        },{
          icon:'warning',
          title:'Ban Product Words',
          loc:'/Ban-Word'
        }],
        title: 'Hydra',
        button:{
          name:null,
          func:{}
        }
      }
    },
    methods: {
      titleChange(title) {
        this.title = title
      },
      buttonChange(name,func,assign=false){
        if(func&&assign){
          this.button.func=Object.assign({},this.button.func,func)
        }
        if(func){
          this.button.func=func
        }
        if(name){
          this.button.name=name
        }
      }
    }
}
</script>
