<template>
  <form action="get_cj_http_file.py" method="get">
    <v-text-field label="Commision Junction Link" name="xml_filename"></v-text-field>
    <v-btn type="submit" color="primary">Go!
      <v-icon right>arrow_forward</v-icon>
    </v-btn>
  </form>
</template>
<script>
export default {
  data() {
    this.$emit('titleChange', 'Commision Junction')
    return {}
  }
}
</script>
