<template>
  <v-container>
    <div class="subheader">Amount of retailers:{{merchants.length}}</div>
    <v-layout>
      <v-text-field label="Search Retailers" v-model="query" solo></v-text-field>
      <v-spacer></v-spacer>
    </v-layout>
    </v-layout>
    <v-layout row wrap class="mt-4">
      <v-flex v-for="(item,i) in items" :key="i" xs12 md6 lg4 xl3 class="pa-2">
        <v-card @click.native="altLink(item.name,item.id)">
          <h3 v-text="item.name" class="ellip pa-2 mt-1">Title</h3>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" max-width="600">
        <v-card>
          <v-card-title class="headline text-xs-center" v-if="loading">Please wait while we download {{selected.name}}</v-card-title>
          <v-card-title class="headline" v-else>Completed the Import for: {{selected.name}}</v-card-title>
          <v-card-text>
            <template v-if="loading">
              <v-layout column>
              <v-flex class="text-xs-center my-3">
                  <v-progress-circular indeterminate color="primary" :size="70" :width="7"></v-progress-circular>
                </v-flex>
              <v-flex class="text-xs-center headline">This may take a while...</v-flex></v-layout>
            </template>
            <template v-else>
              Import Complete! You will probably be redirected. But click the link below if not.
            </template>
          </v-card-text>
          <v-card-actions v-if="!loading">
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" flat :href="selected.link">View Products</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-snackbar :timeout="3000000" v-model="error" color="red" right vertical>
        Some sort of error has occured
        <v-btn dark flat @click.native="error = false">
          <v-icon left>close</v-icon> Close
        </v-btn>
    </v-snackbar>
  </v-container>
</template>
<script>
import searchable from '@/mixins/search'

export default {
  data() {
      fetch("http://imports.dresscoderules.com:333/json_resolver.py?url=https://api.shopstyle.com/api/v2/retailers?pid=uid8196-40156486-37").then(a => a.json()).then(data => {
        this.merchants = data.retailers
      }).catch((err)=>{
        console.log(err)
        this.error=true
      })
      this.$emit('titleChange', 'Shop Style Retailer List')
      return {
        query: "",
        merchants: [],
        loading: false,
        dialog:false,
        error:false,
        selected:{name:'Default',link:'',id:-1},
        prefix:"View-Products/ss---",
        python_filename:"get_shopstyle_api_json"
      }
    },
    mixins:[searchable]
}
</script>
<style>
 
 .ellip {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
  }
</style>
