<template>
  <v-container>
    <div class="subheader">Amount of merchants:{{merchants.length}}</div>
    <v-layout>
      <v-text-field label="Search Merchants" v-model="query" solo></v-text-field>
      <v-spacer></v-spacer>
      <v-btn href="http://imports.dresscoderules.com:333/get_viglink_merchants.py">
        <v-icon left>refresh</v-icon> Regenerate this list</v-btn>
    </v-layout>
    <div :class="{loading:loading}" @click="loading=false"></div>
    </v-layout>
    <v-layout row wrap class="mt-4">
      <v-flex v-for="(item,i) in items" :key="i" xs12 md6 lg4>
        <v-card :href="'http://imports.dresscoderules.com:333/get_viglink_api_data.py?id='+urlEncode(item.id)+'&name='+urlEncode(item.name)" @click="loading=true">
          <h3 v-text="item.name" class="ellip pa-2 mt-1">Title</h3>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import searchable from '@/mixins/search'

export default {
  data() {
      this.$emit('titleChange', 'VigLink Merchant List')
      Promise.all([fetch("http://imports.dresscoderules.com:333/json_resolver.py?url=http%3A%2F%2Fimports.dresscoderules.com%3A333%2Fstatic%2Freports.json").then(a => a.json()),fetch("http://imports.dresscoderules.com:333/json_resolver.py?url=http%3A%2F%2Fimports.dresscoderules.com%3A333%2Fstatic%2Fmerchants.json").then(a => a.json())]).then(([reports,data]) => {
        this.merchants=data.merchants.filter(merchant => !reports.reports.includes(merchant.id))
      })
      return {
        query: "",
        merchants: [],
        loading: false
      }
    },
    mixins:[searchable]
}
</script>
<style>
  .loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #EEE url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
 }
 
 .ellip {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
  }
</style>
