<template>
	<v-card>
		<v-card-text>
			<v-layout>
				<v-text-field v-model="word" label="Banned Word" id="word" @keyup.enter="add" ref="word" autofocus></v-text-field>
				<v-btn color="primary" @click="add">
	              <v-icon left>add</v-icon>
	              Add To List
	            </v-btn>
			</v-layout>
			<v-layout row wrap>
				<template v-for="(word,i) in words">
		            <v-flex xs6 md6 :key="word.word" class="text-xs-center px-3">
		              <v-text-field v-model="word.word" :label="word.word"></v-text-field>
		            </v-flex>
		            <v-flex xs12 md6>
		              <v-btn @click="words.splice(i, 1)">Remove {{word.word}}</v-btn>
		            </v-flex>
		          </template>
			</v-layout>
		</v-card-text>
		<v-snackbar :timeout="3000" v-model="message" color="info" right vertical>
        Words have been successfully Banned
        <v-btn dark flat @click.native="message = false">
          <v-icon left>close</v-icon> Close
        </v-btn>
    </v-snackbar>
    <v-snackbar :timeout="10000" v-model="error" color="error" right vertical>
        Sorry some sort of error has occurred, Ask Nick to look into it if your internet connection is fine
        <v-btn dark flat @click.native="error = false">
          <v-icon left>close</v-icon> Close
        </v-btn>
    </v-snackbar>
	</v-card>
</template>
<script>
	export default {
		data(){
			this.$emit('titleChange','Ban Words')
			this.$emit('buttonChange','banWord',this.setBannedWords)
			this.getBannedWords()
			
			return {
				words:[],
				word:'',
				message:false,
				error:false
			}
		},
		beforeDestroy(){
			this.$emit('buttonChange')
		},
		methods:{
			add() {
		        if (this.word) {
		          this.words.push({
		            word:this.word
		          })
		          this.word=""
		        }
		      },
			getBannedWords(){
				fetch(`http://imports.dresscoderules.com:333/json_resolver.py?url=${encodeURIComponent('http://imports.dresscoderules.com:333/static/bannedWords.json')}`).then(a=>a.json()).then(({words})=>{
					this.words=words.map(word=>({word}))
				}).catch(err=>{
					this.error=true
					console.log(err)
				})
			},
			setBannedWords(){
				fetch(`http://imports.dresscoderules.com:333/add_banned_word.py?words=${this.words.map(({word})=>encodeURIComponent(word)).join(",")}`).then(a=>a.json()).then(a=>{
					if(a.success){
						this.message=true
						this.words=a.words.map(word=>({word}))
					}
				}).catch(err=>{
					this.error=true
					console.log(err)
				})
			}
		}
	}
</script>