<template>
<div>
    <v-card>
        <v-card-title>
            <h1 class="headline">Current Imports</h1>
            <v-spacer></v-spacer>
            <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
        </v-card-title>
        <v-data-table v-bind:headers="headers" v-bind:items="items" hide-actions v-bind:search="search" :pagination.sync="pagination" :rows-per-page-items="[{text:'All',value:-1}]">
          <template slot="items" slot-scope="props">
          <tr :active="props.selected">
            <td class="title">{{ props.item.merchant_name }}</td>
            <td class="text-xs-left">{{ props.item.aff_name }}</td>
            <td class="layout row justify-center">
              <v-btn :to="genUrl(props.item.view_products_link)" color="primary" flat>
                View Products
              </v-btn>
            </td>
            <td class="text-xs-center">{{ props.item.product_count }}</td>
            <td class="layout row justify-center">
              <v-btn @click="sendMessage(copyToClipboard(props.item.import_link))" color="primary" flat>
                Import
              </v-btn>
            </td>
            
            <td class="text-xs-left">{{ props.item.original_filename }}</td>
            <td class="layout row justify-center">
              <v-btn :href="props.item.regenerate_link" color="primary" flat>
                Regenerate
              </v-btn>
            </td>
            <td class="text-xs-right">{{ props.item.file_datetime | toDate }}</td>
            <td class="text-xs-center">
              <v-menu bottom offset-y transition="slide-x-transition">
                <v-btn icon slot="activator">
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile @click.native.stop="prompt(props.item)">
                    <v-list-tile-content>
                      <v-list-tile-title>Delete</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                      <v-icon color="red">remove_circle</v-icon>
                    </v-list-tile-action>
                  </v-list-tile>
                </v-list>
              </v-menu>
        </td>
          </tr>
          </template>
        </v-data-table>
    </v-card>
    <v-btn href="http://imports.dresscoderules.com:333/update_dcr_import_files.py?aff_name=ClickJunction" color="primary" class="my-4">
        <v-icon left>refresh</v-icon>Regenerate all Click Junction
    </v-btn>
    <v-btn href="http://imports.dresscoderules.com:333/update_dcr_import_files.py?aff_name=VigLink" color="primary" class="my-4">
        <v-icon left>refresh</v-icon>Regenerate all VigLink
    </v-btn>
    <v-card>
        <v-card-title>
            <h2 class="title">Add New Import</h2>
        </v-card-title>
        <v-btn v-for="cur in importers" :key="cur.link" :to="cur.link" class="mx-3 mb-3" color="secondary">
          {{cur.title}}
          <v-icon right>add</v-icon>
        </v-btn>
    </v-card>
    <v-snackbar :timeout="3000" v-model="copied" color="info" right vertical>
        Your import link has been copied to your clipboard.
        <v-btn dark flat @click.native="copied= false">
          <v-icon left>close</v-icon> Close
        </v-btn>
    </v-snackbar>
    <v-dialog v-model="confirmDelete" max-width="350">
        <v-card>
          <v-card-title class="headline">Delete {{toDelete.merchant_name}} - {{toDelete.aff_name}}?</v-card-title>
          <v-card-text>This operation cannot be reversed.</v-card-text>
          <v-card-actions>
            <v-btn color="green darken-1" flat @click.native="confirmDelete = false">NO, Do NOT Delete</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="red darken-1" flat @click.native="deleteProvider">YES, Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-snackbar :timeout="3000" v-model="didDelete" color="info" right vertical>
        Your import has been deleted.
        <v-btn dark flat @click.native="didDelete = false">
          <v-icon left>close</v-icon> Close
        </v-btn>
    </v-snackbar>
</div>
</template>

<script>
export default {
  data() {
    this.$emit('titleChange', 'Hydra')
    fetch("http://imports.dresscoderules.com:333/current_imports_json.py").then(r => r.json()).then(resp => {
      const imports=resp.imports
      /*imports.sort(function(a,b) {
          var x = a.merchant_name.toLowerCase();
          var y = b.merchant_name.toLowerCase();
          return x < y ? -1 : x > y ? 1 : 0;
      })*/
      this.items = imports
      console.log(this)
    })
    return {
      confirmDelete:false,
      copied:false,
      search: null,
      toDelete:{},
      didDelete:false,
      importers: [{
        title: 'ShopStyle',
        link: 'imports/shopStyle'
      }, {
        title: "VigLink",
        link: 'imports/vigLink'
      }, {
        title: 'Commission Junction',
        link: 'imports/commissionJunction'
      },{
        title:'PepperJam',
        link: 'imports/pepperJam'
      }],
      headers: [{
        text: 'Merchant',
        align: 'left',
        value: 'merchant'
      }, {
        text: 'Affliate Co.',
        align: 'left',
        value: 'affliate'
      }, {
        text: 'View Products',
        align: 'center',
        value: 'view_products_link'
      }, {
        text: 'Selected Products',
        align: 'center',
        value: 'selected'
      }, {
        text: 'WP Import Link',
        align: 'center',
        value: 'import_link'
      }, {
        text: 'Original filename',
        align: 'left',
        value: 'original_filename'
      },{
        text: 'Regenerate Import',
        align:'center',
        value: 'regenerate_link'
      },{
        text: 'Last Import time',
        align: 'center',
        value: 'time'
      },{
        text: 'Edit',
        align: 'center',
        value:'edit'
      }],
      items: [],
      pagination: {
        sortBy: 'merchant_name'
      }
    }
  },
  filters: {
    toDate(str) {
      const date = new Date(str)
      return date.toLocaleDateString()
    }
  },
  methods: {
    regenerate() {
      alert("regenerating functionality not ready yet, ask Nick to fix")
    },
    genUrl(location) {
      return `View-Products/${location.split("raw_xml_filename=")[1]}`
    },
    prompt(item){
      this.confirmDelete=true
      this.toDelete=item
    },
    deleteProvider(){
      this.confirmDelete=false
      fetch(`http://imports.dresscoderules.com:333/delete_imports.py?active_filename=${this.toDelete.filename}`).then(resp=>resp.json()).then(resp=>{
        if(resp){
          this.didDelete=true
          const index=this.items.indexOf(this.toDelete)
          this.items.splice(index,1)
          this.toDelete={}
        }
      })
    },
    copyToClipboard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
          // IE specific code path to prevent textarea being shown while dialog is visible.
          return clipboardData.setData("Text", text);

        } else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
          var textarea = document.createElement("textarea");
          textarea.textContent = text;
          textarea.style.position = "fixed"; // Prevent scrolling to bottom of page in MS Edge.
          document.body.appendChild(textarea);
          textarea.select();
          try {
            return document.execCommand("copy"); // Security exception may be thrown by some browsers.
          } catch (ex) {
            console.warn("Copy to clipboard failed.", ex);
            return false;
          } finally {
            document.body.removeChild(textarea);
          }
        }
      },
      sendMessage(){
        this.copied=true
      }
  }
/*{"import_link":"http://imports.dresscoderules.com:333/xml/Jack_Erwin-None.xml.gz (/update_dcr_import_files.py?active_filename=cj---206223___Jack_Erwin-Jack_Erwin_Product_Catalog)",
    "view_products_link":"http://imports.dresscoderules.com:333/view_products.py?raw_xml_filename=cj---206223___Jack_Erwin-Jack_Erwin_Product_Catalog.xml.gz",
    "pc_name":"None",
    "aff_name":"CommissionJunction",
    "new_filename":"Jack_Erwin-None.xml.gz",
    "file_datetime":"2018-01-30 08:21:01.871192",
    "product_count":48,
    "merchant_name":"Jack Erwin",
    "regenerate_link":"/update_dcr_import_files.py?active_filename=cj---206223___Jack_Erwin-Jack_Erwin_Product_Catalog",
    "filename":"cj---206223___Jack_Erwin-Jack_Erwin_Product_Catalog",
    "file_time":1517300461.871192
  }*/
}

</script>
