<template>
  <v-stepper v-model="step" vertical>
    <v-stepper-step step="1" complete>
      Input New Categories
    </v-stepper-step>
    <v-stepper-content step="1">
      <v-card class="mb-5" flat>
        <v-card-title>
          <h1>Input Name and Slugs</h1>
        </v-card-title>
        <v-layout wrap>
          <v-flex xs12 md6 class="px-2">
            <v-text-field v-model="name" label="Name" id="name" @keyup.enter="add" ref="name" autofocus></v-text-field>
          </v-flex>
          <v-flex xs12 md6 class="px-2">
            <v-text-field v-model="slug" label="Slug" id="slug" @keyup.enter="add" ref="slug"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-btn color="primary" @click="add">
              <v-icon left>add</v-icon>
              Add To List
            </v-btn>
            <v-btn color="red" flat @click="remove('ALL')">Clear All</v-btn>
          </v-flex>
          <template v-for="(item,i) in items">
            <v-flex xs6 md5 :key="item.slug" class="text-xs-center px-3">
              <v-text-field v-model="item.name" :label="item.name" :id="item.name"></v-text-field>
            </v-flex>
            <v-flex xs6 md5 :key="item.slug" class="text-xs-center px-3">
              <v-text-field v-model="item.slug" :label="item.slug" :id="item.slug"></v-text-field>
            </v-flex>
            <v-flex xs12 md2>
              <v-btn @click="remove(i)">Remove {{item.name}}</v-btn>
            </v-flex>
          </template>
        </v-layout>
      </v-card>
      <v-layout>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click.native="step = 2">
          Continue
          <v-icon right>forward</v-icon>
        </v-btn>
      </v-layout>
    </v-stepper-content>
    <v-stepper-step step="2" complete>Generate Code</v-stepper-step>
    <v-stepper-content step="2">
      <v-card class="mb-5" v-if="codeGen.length>0" flat>
        <v-card-title>
          <h1>Copy the all of the code below</h1>
        </v-card-title>
        <v-layout wrap>
          <code class="xs12 flex pb-1">{{codeGen}}</code>
          <v-btn @click="copyToClipboard(codeGen)">
            <v-icon left>content_copy</v-icon>Copy To Clipboard</v-btn>
        </v-layout>
      </v-card>
      <h1 v-else>No Code to Copy Click the Back Button</h1>
      <v-layout>
        <v-btn flat @click.native="step = 1">Back</v-btn>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click.native="step = 3">
          Continue
          <v-icon right>forward</v-icon>
        </v-btn>
      </v-layout>
    </v-stepper-content>
    <v-stepper-step step="3">
      Paste Code
    </v-stepper-step>
    <v-stepper-content step="3">
      <div>
        <h1>Paste the Code At the Link Below</h1>
        <small>Remember to Press 'Save Changes'!</small>
        <v-btn color="primary" href="http://www.dresscoderules.com/wp-admin/admin.php?page=SavoyChild&tab=14">Paste Code at the bottom of this page</v-btn>
      </div>
      <v-layout>
        <v-spacer></v-spacer>
        <v-btn @click.native="step = 1">
          Back To Step 1
          <v-icon right>refresh</v-icon>
        </v-btn>
      </v-layout>
    </v-stepper-content>
  </v-stepper>
</template>
<script>
export default {
  data() {
      this.$emit('titleChange', 'Product Categories Generator')
      return {
        step: 1,
        name: null,
        slug: null,
        items: []
      }
    },
    computed: {
      codeGen() {
        return this.items.map(({
          name,
          slug
        }) => `
.product_cat-${slug} .nm-shop-loop-details::before {
  content: "${name}";
}`).join('')
      }
    },
    methods: {
      add() {
        if (this.name && this.slug) {
          this.items.push({
            name: this.name,
            slug: this.slug
          })
          this.name = ""
          this.slug = ""
        }
      },
      remove(index) {
        if (index === "All") {
          this.$set(this.items, [])
        }
        this.items.splice(index, 1)
      },
      copyToClipboard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
          // IE specific code path to prevent textarea being shown while dialog is visible.
          return clipboardData.setData("Text", text);

        } else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
          var textarea = document.createElement("textarea");
          textarea.textContent = text;
          textarea.style.position = "fixed"; // Prevent scrolling to bottom of page in MS Edge.
          document.body.appendChild(textarea);
          textarea.select();
          try {
            return document.execCommand("copy"); // Security exception may be thrown by some browsers.
          } catch (ex) {
            console.warn("Copy to clipboard failed.", ex);
            return false;
          } finally {
            document.body.removeChild(textarea);
          }
        }
      }
    }
}
</script>
