<template>
	<div>
		<v-card>
      <v-card-title>
        <h1 class="headline">{{merchant_name}} Items</h1>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table v-bind:headers="headers" v-bind:items="products"  :search="search" rows-per-page-text="Items per page:" :rows-per-page-items="[25,50,100,1000,{text:'All',value:-1}]" v-model="selected" item-key="m_index" select-all :pagination.sync="pagination" :loading="loading" >
      	<template slot="headers" slot-scope="props">
      <tr>
        <th>
        	<v-btn @click="toggleAll" :color="clicked?'error':'primary'">
        		{{clicked?'Deselect Smart Checked':'Smart Check All'}}
        		<v-icon right>{{clicked?'close':'check'}}</v-icon>
        	</v-btn>
        </th>
        <th
          v-for="header in props.headers"
          :key="header.text"
          :class="{[`text-xs-${header.align}`]:true}"
        >
          {{ header.text }}
        </th>
      </tr>
    </template>
    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
        <template slot="items" slot-scope="props">
        <tr :active="props.selected" @click.exact="props.selected = !props.selected" @click.meta="selection(props)">
			<td>
				<v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
			</td>
			<td><img :src="props.item.image" class="image" /></td>
	        <td class="text-xs-left title">{{ props.item.name }}</td>
	        <td class="text-xs-center">{{props.item.price | money}}</td>
      </tr>
        </template>
        <template slot="no-data">
      <v-alert :value="error" color="error" icon="warning">
        Sorry, we weren't able to retrieve your data :(
      </v-alert>
    </template>
      </v-data-table>
      <div class="pt-2">
      	<v-pagination v-model="pageNumber" @input="onInput" circle :length="pages"></v-pagination>
      </div>
    </v-card>
    <v-snackbar :timeout="2000" v-model="saved" color="info" right vertical>
        Your selection has been saved!
        <v-btn dark flat @click.native="saved = false">
          <v-icon left>close</v-icon> Close
        </v-btn>
    </v-snackbar>
	</div>
</template>
<script>
function post(path, params, method) {
	//figure out iframe later
    method = method || "post";
    const form = document.createElement("form"),
     iframe = document.createElement("iframe"),
     iframeName="myframe"
    iframe.setAttribute("name",iframeName)
    iframe.setAttribute("id",iframeName)
    form.setAttribute("method", method)
    form.setAttribute("action", path)
    form.setAttribute("target", iframeName)
    form.setAttribute("id","hiddenForm")
    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input")
            hiddenField.setAttribute("type", "hidden")
            hiddenField.setAttribute("name", key)
            hiddenField.setAttribute("value", params[key])

            form.appendChild(hiddenField)
        }
    }
    if(!document.getElementById(iframeName)){
    	document.body.appendChild(iframe)
    }
    if(!!document.getElementById("hiddenForm")){
    	const elem = document.getElementById("hiddenForm");
      elem.parentNode.removeChild(elem);
    }
    document.body.appendChild(form)
    form.submit();
}
	export default {
		data(){
			const pageNumber = 1,
			group_count = 5000

      
      this.loadBannedWords().then(()=>{
      	this.loadData(group_count,pageNumber)
      })

			return {
				startIndex:-1,
				headers:[{text:'Image'},{text:'Name',align:'left'},{text:'Price'}],
				products:[],
				selected: [],
				clicked:false,
				error:false,
				search:null,
				merchant_name:"Default",
				check_count:0,
				published_product_ids:[],
				pageNumber,
				group_count,
				needsMore:false,
				loading:true,
				saved:false,
				pages:2,
				copy:[],
				bannedWords:[],
				pagination: {
        sortBy: 'm_index'
      }
			}
		},
		mounted(){
			
			this.$emit('titleChange', `${this.merchant_name} - Products`)
			this.$emit('buttonChange','view_products',{
				saveAll:this.saveAll,
				checked:this.checkedItemsOnly,
				title:'any',
				unchecked:this.uncheckedItemsOnly,
				showAllItems:this.showAllItems
			})
		},
		beforeDestroy(){
			this.$emit('buttonChange')
		},
		filters:{
			money(str){
				return `$ ${Number(str).toFixed(2)}`
			}
		},
		methods:{
			startSelection(index,item){
				this.startIndex=index
				this.selected.push(item)
			},
			endSelection(index,item){
				const start = Math.min( index, this.startIndex ),
					end = Math.max( index, this.startIndex )

				this.select(start,end)

				this.startIndex = -1
			},
			selection({index,item}){
				console.log("selection")
				if(this.startIndex===-1){
					this.startSelection(index,item)
				}
				else{
					this.endSelection(index,item)
				}
			},
			select(start,end){
				this.selected=this.selected.concat(this.products.slice(start,end+1))
			},
			loadData(group_count,pageNumber){
				this.loading=true
				const cleanedFileName =this.filename.split("&").map(part=>encodeURIComponent(part)).join("%26")

				return fetch(`http://imports.dresscoderules.com:333/view_products_json.py?group_count=${group_count}&raw_xml_filename=${(cleanedFileName)}&page_start=${pageNumber}`).then(r=>r.json()).then(resp=>{
				        this.merchant_name = resp.merchant_name
				        this.products = resp.products.filter(({name})=>!this.hasBannedWord(name))
				        this.copy = this.products
				        this.needsMore = this.products.length > (group_count - 20)
				        this.pageNumber = resp.page
				        this.known_products = resp.known_products
				        this.check_count = resp.check_count
				        this.published_product_ids = resp.published_product_ids
				        this.loading=false
				        this.selected=this.products.filter(({checked})=>checked)
				        this.$emit('titleChange', `${this.merchant_name} - Products`)
				        console.log(this,resp)
						return this.needsMore
      				}).catch(()=>{
      					this.error=true
      				})
			},
			loadBannedWords(){
				this.loading=true
				return fetch(`http://imports.dresscoderules.com:333/json_resolver.py?url=${encodeURIComponent('http://imports.dresscoderules.com:333/static/bannedWords.json')}`).then(a=>a.json()).then(({words})=>{
					this.bannedWords = words
					return words
				})
			},
			onInput(pageNumber){
				this.pageNumber = pageNumber
				
				this.loadData(this.group_count,this.pageNumber).then(needsMore=>{
					if(needsMore){
						this.pages++
					}
				})
			},
			toggleAll () {
				if(this.clicked===false){
					this.clicked=true
					this.loading=true
	        		this.selected = this.products.filter(({name,checked})=>{
	        			return !this.hasBannedWord(name) || checked
	        		})
	        		this.loading=false
	        	}else{
	        		this.clicked=false
	        		this.selected=this.products.filter(({checked})=>checked)
	        	}
      		},
      		hasBannedWord(word){
      			word=word.toLowerCase()
  				return this.bannedWords.some(bannedWord=>word.includes(bannedWord))
      		},
      		saveAll(){
      			this.saved=true

      			const obj=this.selected.map(({product_id})=>product_id).reduce((obj,id)=>{
      				obj[`${id}|---|publish`]="publish"
      				return obj
      			},{})
      			const el={
				    	merchant_name:this.merchant_name,
				    	raw_xml_filename:this.filename.split("+").join(" "),
				    	published_product_ids:this.published_product_ids.join(","),
				    	product_categories:'None',
				    	page_start:1,
				    	...obj
				    }
				    //console.log(el)
      			post('http://imports.dresscoderules.com:333/save_products.py',el)
      		},
      		checkedItemsOnly(){
      			this.products=this.copy.filter(({checked})=>checked)
  				this.$emit('buttonChange','view_products',{
					title:'all'
				},true)
      		},
      		uncheckedItemsOnly(){
  				this.products=this.copy.filter(({checked})=>!checked)
  				this.$emit('buttonChange','view_products',{
					title:'all'
				},true)
      		},
      		showAllItems(){
      			this.products=this.copy
  				this.$emit('buttonChange','view_products',{
					title:'any'
				},true)
      		}
		},
		props:{
			filename:String
		}//{{product.name}} {{product.image}} {{product.m_index}} ${{product.price}}
	}
</script>
<style>
	.image{
		height: 170px;
		margin:0 auto;
		display:block;
	}
</style>